# 核心框架
Flask==2.3.3
gunicorn==21.2.0

# LINE Bot
line-bot-sdk==3.5.0

# Google AI API
google-generativeai==0.7.2

# 圖片與網路請求
Pillow==10.4.0
requests==2.31.0

# 其他工具
python-dotenv==1.0.0
beautifulsoup4
APScheduler
tzdata

